{% extends "sidebar.html" %}

{% block title %}About Victor Thompson{% end %}

{% block content %}
  <h1 style="margin-bottom:6pt">About Victor Thompson</h1>
  <p>I am currently a Senior Software Engineer at <a href="http://www.lockheedmartin.com/">Lockheed Martin</a>, where I work on a next generation Air Traffic Control software system, <a href="http://www.faa.gov/air_traffic/technology/eram/">ERAM</a>.
  <p>I've been involved in a few open source projects including:</p>
	<ul>
		<li><a href="http://code.google.com/p/vosao/">Vosao</a>: an open source CMS for <a href="http://code.google.com/appengine/">App Engine</a> written in Java.</li>
	</ul>
  <p>You can reach me at <a href="mailto:victor.thompson@gmail.com">victor.thompson@gmail.com</a>.</p>

  <h2 style="margin-bottom:6pt">About This Blog</h2>
  <p>This site runs on <a href="http://code.google.com/appengine/">Google App Engine</a>, and is a fork of <a href="http://www.facebook.com/btaylor">Bret Taylor</a>'s <a href="http://bret.appspot.com/">blog</a> (<a href="https://github.com/finiteloop/blog">source</a>). Some added features include:</p>
	<ul>
		<li>Post tagging</li>
		<li>Tag cloud listing</li>
		<li>Article categorization</li>
	</ul>
	<p>I plan on making the source available on <a href="http://github.com/victorthompson">Github</a>.</p>
	
				
  <p><a href="/">&laquo; Back to the blog</a></p>
{% end %}
